/*Nie chainować placeholderów bo nie zadziałają*/
::-webkit-input-placeholder {
  color: #444;
}
[placeholder]:focus::-webkit-input-placeholder {
  -moz-transition: opacity 0.5s 0.5s ease;
  -o-transition: opacity 0.5s 0.5s ease;
  -webkit-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
:-moz-placeholder {
  color: #444;
}
[placeholder]:focus:-moz-placeholder {
  -moz-transition: opacity 0.5s 0.5s ease;
  -o-transition: opacity 0.5s 0.5s ease;
  -webkit-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
::-moz-placeholder {
  color: #444;
}
[placeholder]:focus::-moz-placeholder {
  -moz-transition: opacity 0.5s 0.5s ease;
  -o-transition: opacity 0.5s 0.5s ease;
  -webkit-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
:-ms-input-placeholder {
  color: #444;
}
[placeholder]:focus:-ms-input-placeholder {
  -moz-transition: opacity 0.5s 0.5s ease;
  -o-transition: opacity 0.5s 0.5s ease;
  -webkit-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
::selection {
  background-color: #FF851B;
  color: #fff;
}
::-moz-selection {
  background-color: #FF851B;
  color: #fff;
}
@font-face {
  font-family: 'jp';
  src: url('fonts/jp.eot?qhsvh3');
  src: url('fonts/jp.eot?#iefixqhsvh3') format('embedded-opentype'), url('fonts/jp.woff?qhsvh3') format('woff'), url('fonts/jp.ttf?qhsvh3') format('truetype'), url('fonts/jp.svg?qhsvh3#jp') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'jp';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'jp';
}
.icon-logo:before {
  content: "\e600";
}
.icon-home:before {
  content: "\e601";
}
.icon-qrcode:before {
  content: "\e602";
}
.icon-location:before {
  content: "\e603";
}
.icon-screen:before {
  content: "\e604";
}
.icon-mobile:before {
  content: "\e605";
}
.icon-undo:before {
  content: "\e606";
}
.icon-redo:before {
  content: "\e607";
}
.icon-bubbles:before {
  content: "\e608";
}
.icon-checkmark:before {
  content: "\e60b";
}
.icon-close:before {
  content: "\e60a";
}
.icon-googleplus:before {
  content: "\e611";
}
.icon-facebook:before {
  content: "\e612";
}
.icon-twitter:before {
  content: "\e613";
}
.icon-android:before {
  content: "\e615";
}
.icon-windows:before {
  content: "\e616";
}
.icon-apple:before {
  content: "\e614";
}
.icon-chrome:before {
  content: "\e617";
}
.icon-firefox:before {
  content: "\e618";
}
.icon-opera:before {
  content: "\e61a";
}
.icon-IE:before {
  content: "\e619";
}
.icon-checkbox-checked:before {
  content: "\e60c";
}
.icon-checkbox-unchecked:before {
  content: "\e60d";
}
.icon-checkbox-partial:before {
  content: "\e60e";
}
.icon-radio-checked:before {
  content: "\e60f";
}
.icon-radio-unchecked:before {
  content: "\e610";
}
.icon-menu:before {
  content: "\e609";
}
.icon-spinner:before {
  content: "\e61b";
}
@font-face {
  font-family: 'bebas';
  src: url('fonts/BebasNeue-webfont.eot');
  src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #111111;
  text-transform: uppercase;
  outline: none;
  margin: 0;
  padding: 0;
}
.page-active {
  outline: none;
}
.ng-hide {
  display: none;
}
html {
  min-height: 100%;
  position: relative;
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  color: #ffdc00;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #ffdc00;
  margin: 0;
}
header nav ul,
header figcaption,
figure.logo,
figure.logo span:before,
body,
.search-container input,
.search-container button,
.search-item,
.facebook button {
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
header nav ul li {
  -moz-transition: font-size ease-in-out 0.3s;
  -o-transition: font-size ease-in-out 0.3s;
  -webkit-transition: font-size ease-in-out 0.3s;
  transition: font-size ease-in-out 0.3s;
}
ul li {
  font-family: 'Oxygen', sans-serif;
}
ul a {
  font-family: 'Oxygen', sans-serif;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: visible;
  background-color: #111111;
}
footer * {
  color: #ffffff;
}
footer ul {
  list-style: none;
}
footer .footer-bottom {
  text-align: center;
  margin-top: 1em;
  font-size: 0.7em;
  letter-spacing: 0.2em;
}
footer .footer-wrap {
  position: relative;
  height: 300px;
}
footer .footer-wrap figure {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  margin-left: -111px;
  margin-top: -108px;
}
footer .footer-left:before,
footer .footer-right:before {
  content: "";
  width: 111px;
  height: 300px;
}
footer .footer-left {
  float: left;
  width: 49%;
}
footer .footer-left:before {
  float: right;
}
footer .footer-left h2 {
  font-size: 4em;
  font-weight: 100;
  text-align: right;
  margin-right: 3em;
}
footer .footer-left > span:first-of-type {
  font-size: 2em;
  display: block;
  text-align: right;
  margin-right: 6em;
}
footer .footer-left .logo-hypetrain {
  overflow: hidden;
  text-align: center;
  margin-top: 5rem;
}
footer .footer-left .logo-hypetrain figure {
  display: inline-block;
  background: url(Images/logo_v6.png) center no-repeat;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  position: static;
  margin: 0;
  padding: 0;
  width: 281px;
  height: 143px;
}
footer .footer-right {
  float: right;
  width: 49%;
}
footer .footer-right:before {
  float: left;
}
footer .footer-right ul {
  text-align: center;
  margin-top: 2em;
}
footer .footer-right .icons li {
  display: inline-block;
  font-size: 2rem;
  margin: 0.2rem;
}
footer .footer-right .icons .last-of-type {
  margin-right: 0.8em;
}
footer .footer-right .icons a {
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
footer .footer-right .icons a:hover,
footer .footer-right .icons a[href="#"] {
  opacity: 0.5;
}
footer .footer-right li {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}
footer .footer-right li span:before {
  color: #fff;
}
footer .footer-right .accent-bold {
  font-weight: 600;
  text-decoration: underline;
}
header {
  text-align: right;
  overflow: hidden;
}
header .facebook {
  float: right;
  position: relative;
}
header .facebook form {
  position: relative;
  margin-top: 1.5rem;
}
header .facebook button {
  border-radius: 2px;
  border: none;
  outline: none;
  text-transform: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #ffffff;
  background: #3b5998;
  padding: 1rem 1rem 1rem 1.6rem;
  display: block;
  height: 3rem;
  cursor: pointer;
  position: relative;
  margin-top: 0.5rem;
}
header .facebook button:before {
  content: 'f';
  color: #ffffff;
  text-transform: none;
  font-size: 3rem;
  line-height: 3.2rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-weight: 900;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
header .facebook button:hover,
header .facebook button:active {
  background-color: #2d4373;
}
header nav {
  overflow: hidden;
}
header nav label,
header nav input {
  display: none;
}
header nav ul {
  height: 6rem;
  line-height: 6rem;
}
header nav ul li {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.5rem;
  letter-spacing: 0.1rem;
  height: 100%;
}
header nav ul li a {
  position: relative;
}
header nav ul li a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #111111;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
header nav ul li a:hover:before,
header nav ul li a :active:before {
  opacity: 1;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  transform: translateY(0) !important;
}
header figcaption {
  float: left;
  font-family: 'bebas', serif;
  font-size: 3rem;
  margin-left: 1rem;
  line-height: 5rem;
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
header figure.logo {
  float: left;
  background-color: #111111;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  text-align: center;
}
header figure.logo .icon-logo {
  display: inline-block;
  height: 100%;
}
header figure.logo .icon-logo:before {
  font-size: 4rem;
  margin-top: 1rem;
  display: inline-block;
}
header,
article {
  margin: 0 3rem;
}
.page {
  margin-bottom: 1rem;
  padding-bottom: 408px;
  font-family: 'bebas', serif;
}
.page h1 {
  font-size: 5em;
  text-align: center;
  margin: 0;
}
.page section {
  text-align: center;
}
.page section blockquote {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: .3rem;
}
.page section blockquote p {
  margin: 0;
  font-size: 0.8em;
}
.page .search-container label {
  border-top: rgba(0, 0, 0, 0.3) 2px solid;
  display: inline-block;
}
.page .search-container input,
.page .search-container button {
  height: 3em;
  font-family: 'Titillium Web', sans-serif;
  border: none;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.15);
  max-height: 48px;
  font-size: 16px;
  padding: 0;
}
.page .search-container input {
  width: 30em;
  padding-left: 1em;
  text-transform: none;
  border: none;
  outline: none;
}
.page .search-container button {
  padding: 0 12px;
  outline: none;
  position: relative;
}
.page .search-container button:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.25);
  width: 1px;
  display: inline-block;
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 0;
}
.page .search-container button:hover {
  cursor: pointer;
}
.page .search-container [type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.page .search-response {
  font-size: 5rem;
  margin-top: 2rem;
}
.page .search-item {
  margin: 0 6rem 2rem 6rem;
  text-align: left;
  border: 1px solid #AAA;
  padding: 0.3rem;
  box-shadow: 0 0 3px 0 #AAA;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-height: 6rem;
}
.page .search-item > div {
  margin-right: 6rem;
}
.page .search-item h4,
.page .search-item h5,
.page .search-item h6,
.page .search-item span,
.page .search-item li {
  text-transform: none;
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.page .search-item h4:first-letter,
.page .search-item h5:first-letter,
.page .search-item h6:first-letter,
.page .search-item span:first-letter,
.page .search-item li:first-letter {
  text-transform: uppercase;
}
.page .search-item h4 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
.page .search-item span {
  display: block;
}
.page .search-item h5,
.page .search-item .search-definition {
  margin-left: 2rem;
}
.page .search-item ul {
  list-style-type: lower-latin;
  margin-left: 4rem;
}
.page .search-item button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: #eeeeee;
  font-size: 1.8rem;
  font-family: 'Oxygen', sans-serif;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.page .search-item button:hover {
  background: #ddd;
}
.page .search-item button:active {
  background: #ddd;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.125);
}
.page .search-item button .icon-checkmark {
  font-size: 3rem;
}
.page .search-item button .icon-checkmark:before {
  color: #111111;
}
.page .search-item.matched button {
  background: #ddd;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.125);
}
.page .hasMatch .search-item {
  opacity: 0.5;
  pointer-events: none;
  box-shadow: none;
}
.page .hasMatch .search-item.matched {
  opacity: 1;
  box-shadow: 0 0 5px 0 #AAA;
}
.page .search-progress {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.page .icon-spinner {
  display: inline-block;
  font-size: 1.8rem;
  -webkit-animation: rotation 1.2s infinite linear;
  -moz-animation: rotation 1.2s infinite linear;
  -o-animation: rotation 1.2s infinite linear;
  animation: rotation 1.2s infinite linear;
}
.page .icon-spinner:before {
  color: #111111;
}
.page .search-more {
  margin: 2rem 0;
}
.page .search-more button {
  border: none;
  background: #eeeeee;
  font-size: 1.8rem;
  font-family: 'Oxygen', sans-serif;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.page .search-more button:hover {
  background: #ddd;
}
.page .search-more button:active {
  background: #ddd;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.125);
}
.word-of-day a:hover {
  cursor: pointer;
}
.word-of-day .new-day:after {
  content: '[!]';
  font-size: .3rem;
  position: absolute;
  letter-spacing: normal;
  top: -0.4rem;
  font-weight: 900;
}
.word-of-day .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.word-of-day .modal * {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
}
.word-of-day .modal article {
  opacity: 0;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #fbb500;
  border-radius: 3px;
  margin: 0 auto;
}
.word-of-day .modal header {
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  border-bottom: 1px solid #111111;
}
.word-of-day .modal header span {
  float: right;
}
.word-of-day .modal section {
  padding: 15px 40px;
  text-align: center;
}
.word-of-day .modal.open {
  visibility: visible;
  z-index: 2;
}
.word-of-day .modal.open article {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.word-of-day .modal.open + .overlay {
  opacity: 1;
  visibility: visible;
}
.word-of-day .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: rgba(251, 189, 0, 0.8);
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.word-of-day .button-close {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  padding: 5px 15px;
  margin: 10px 0 0 0;
  background: #fbb500;
  border: 1px solid #111111;
}
.word-of-day .button-close:hover,
.word-of-day .button-close:active {
  cursor: pointer;
  background: #f5ac00;
}
.search-active .word-of-day .modal article {
  background: #ffffff;
}
.search-active .word-of-day .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.search-active .word-of-day .button-close {
  background: #ffffff;
}
.search-active .word-of-day .button-close:hover,
.search-active .word-of-day .button-close:active {
  background: #f8f8f8;
}
body.search-active {
  background-color: #fff;
}
.search-active .icon-logo:before {
  color: #fff;
}
.search-active blockquote,
.search-active h1 {
  display: none;
}
.search-active header .facebook form {
  margin-top: 0;
}
.search-active header .facebook button {
  font-size: .8rem;
  height: 2rem;
  line-height: 0.2rem;
}
.search-active header .facebook button:before {
  font-size: 2rem;
  line-height: 2.2rem;
}
.search-active header figcaption {
  opacity: 1;
  max-width: none;
  max-height: none;
}
.search-active header figure.logo {
  margin-left: 0;
  width: 5rem;
  height: 5rem;
}
.search-active header figure.logo .icon-logo:before {
  font-size: 3.33333333rem;
  margin-top: 0.75rem;
}
.search-active header nav ul {
  height: 3rem;
  line-height: 3rem;
}
.search-active header nav ul li {
  font-size: 1.3rem;
}
.search-active header nav ul li a:before {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.search-active .page .search-container input,
.search-active .page .search-container button {
  background-color: rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 1024px) {
  header,
  article {
    margin: 0;
  }
  footer {
    overflow: hidden;
    height: 180px;
  }
  footer .icons {
    display: none;
  }
  footer .footer-wrap {
    height: auto;
  }
  footer .footer-wrap > figure {
    display: none;
  }
  footer .footer-left {
    display: none;
  }
  footer .footer-right {
    position: static;
    float: none;
    width: 100%;
  }
  footer .footer-right:before {
    content: none;
  }
  .page {
    padding-bottom: 180px;
  }
}
@media only screen and (max-width: 800px) {
  header nav ul {
    opacity: 0;
    position: absolute;
    z-index: 0;
    top: 6rem;
    bottom: 0;
    overflow: hidden;
    float: none;
    height: auto;
    left: 0;
    right: 0;
    max-height: 0;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  .search-active header nav ul {
    height: auto;
  }
  header nav ul li {
    display: block;
    text-align: right;
    line-height: 1;
    height: auto;
    margin: 2rem;
    overflow: hidden;
  }
  header nav ul li.facebook {
    position: static;
  }
  header nav ul li.facebook form {
    position: static;
    margin: 0;
  }
  header nav ul li.facebook form button {
    margin: 0;
    float: right;
  }
  header nav ul li.facebook:before {
    content: 'Zaloguj:';
    display: block;
    text-align: center;
    margin-bottom: .5rem;
  }
  header nav label {
    display: inline-block;
  }
  header nav label span.icon-menu {
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    font-size: 5rem;
    margin-right: 1rem;
  }
  .search-active header nav label span.icon-menu {
    font-size: 4rem;
  }
  header nav label span.icon-menu:before {
    color: #111111;
  }
  .search-active header nav :checked ~ label span.icon-menu:before {
    color: #ffdc00;
  }
  header nav :checked ~ ul {
    opacity: 1;
    z-index: 1;
    background: #ffdc00;
    max-height: none;
  }
  .search-active header nav :checked ~ ul {
    top: 5rem;
    background: #fff;
  }
  header nav :checked ~ ul a:after {
    content: '\203A';
    font-size: 4rem;
    font-family: 'Oxygen', sans-serif;
    float: right;
    font-weight: 100;
    line-height: 1rem;
    margin-left: 1rem;
  }
  .search-active header nav :checked ~ ul a:after {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .page {
    margin-top: 2rem;
  }
  .page .search-item {
    margin: 0 3rem 1rem 3rem;
  }
  .page .search-progress {
    font-size: 1rem;
  }
  .page .search-progress .icon-spinner {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 480px) {
  header nav figure.logo {
    display: none;
  }
  header nav figcaption {
    display: inline-block;
  }
  header nav ul {
    top: 5rem;
  }
  .search-active header nav :checked ~ ul {
    top: 4rem;
  }
  .page .search-container input {
    max-width: 15rem;
  }
  .page .search-item {
    margin: 0 1rem 1rem 1rem;
  }
  .page .search-item > div {
    margin-right: 5rem;
  }
  .page .search-item button {
    position: static;
    float: right;
  }
  .page .search-item button .icon-checkmark {
    font-size: 1rem;
    margin: 0.35rem;
  }
  .page .search-item h4 {
    font-size: 1.3rem;
  }
  .page .search-item h5,
  .page .search-item h6,
  .page .search-item span,
  .page .search-item li {
    font-size: 0.9rem;
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
