<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <appSettings>
    <add key="CommandTimeoutSeconds" value="600" />
  </appSettings>
  <connectionStrings>
    <add name="TypeFineContext" connectionString="data source=.\DEV2012;Initial Catalog=TypeFine;Trusted_Connection=True;MultipleActiveResultSets=True;Connection Timeout=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
</configuration>